@using NewsApp.Services.Categories
@model UpdateArticleInputModel

@inject ICategoriesService catService
@{
    var Categories = catService.GetAll<CategoriesViewModel>();
}

<div asp-validation-summary="All" class="text-danger"></div>


<form asp-action="Update" method="post" enctype="multipart/form-data">
    <div class="row">
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div>
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div>
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-select">
                @foreach (var cat in Categories)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <input type="hidden" name="Id" id="Id" value="@ViewContext.RouteData.Values["id"]"/>

    <div class="row mt-2">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>

</form>