@model CommentsViewModel

@foreach (var comment in Model.Comments)
{
    <div id="inner-comment-@(comment.Id)" class="comment border border-2 mb-2 ms-2">
    <span class="username fw-bold">@comment.UserName</span>
    <span class="createdOn fw-bold">- @comment.CreatedOn</span>
    <p class="content">@comment.Content</p>
    </div>

}

