@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="row">
      
    <vc:latest-articles n="5"></vc:latest-articles>

        <vc:most-viewed-articles n="5"></vc:most-viewed-articles>

    </div>
</div>

<vc:weather></vc:weather>
