@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="row">
        <div class="col-md-8 col-sm-12">
            <vc:latest-articles n="5"></vc:latest-articles>
        </div>
        <div class="col-md-4 col-sm-12">
            <vc:most-viewed-articles n="5"></vc:most-viewed-articles>
            <vc:most-liked-articles n="5"></vc:most-liked-articles>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12"
<vc:weather></vc:weather>
</div>
