@model IEnumerable<HomeArticlesViewModel>


    <h5>Most viewed articles:</h5>
    @foreach (var article in Model)
    {
        <a class="text-dark d-flex mb-3" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
        <img src="@(article.ImageName != null ? $"/images/articles/{article.ImageName}" : "/images/placeholder.png")" width="150px" class="mx-2">
                <span>@article.Title</span>
        </a>

    }
